<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div align="center">
    <div><h2>Upload file</h2></div>
    <div>
        <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">Submit</input>
    </form>
    </div>
</div>
</body>
</html>